<div class="page-title">
    <h4>
        <a routerLink="/harmonic_signal">Harmonic signal</a>
    </h4>
    <span>
        <button class="btn btn-small red" (click)="deleteHarmonicSignal()" *ngIf="!isNew">
	    	<i class="material-icons">delete</i>
		</button>
    </span>
</div>

<div class="row">
    <form class="col s12 l6" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <button type="submit" [disabled]="form.invalid || form.disabled" class="waves-effect waves-light btn">
                Save changes
            </button>
        </div>
    </form>
</div>
