<div class="row parallax-banner">
    <div id="index-banner-navbar" class="parallax-container">
        <div class="section no-pad-bot ">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">{{ title }}</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Visualization of basic digital signal processing operations</h5>
                </div>
                <div class="row center">
                    <a class="btn-large waves-effect waves-light teal" [routerLink]="['/harmonic_signal']">Get Started</a>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax" #parallaxNavbar><img src="assets/img/parallax.jpg"></div>
    </div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="row">
                    <div class="icon-block col s12 m6 l6">
                        <h5 class="center">Harmonic signal</h5>
                        <p class="light">A harmonic is a wave or signal whose frequency is an integral (whole number)
                            multiple of the frequency of the same reference signal or wave. As part of the harmonic
                            series, the term can also refer to the ratio of the frequency of such a signal or wave
                            to the frequency of the reference signal or wave.</p>
                    </div>
                    <div class="icon-block col s12 m6 l6">
                        <h2 class="center light-blue-text"><img src="assets/img/harmonic.gif" height="300" width="400"></h2>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l12">
                <div class="row">
                    <div class="icon-block col s12 m6 l6">
                        <h2 class="center light-blue-text"><img src="assets/img/polyharmonic.png" height="300" width="400"></h2>
                    </div>
                    <div class="icon-block col s12 m6 l6">
                        <h5 class="center">Polyarmonic signal</h5>
                        <p class="light">Polyharmonic signals are the sum of a certain constant component and an
                            arbitrary (in the limit - infinite) number of harmonic components with arbitrary values
                            of amplitudes and phases, with periods that are multiples of the period of the fundamental
                            frequency. In other words, on the period of the fundamental frequency, which is equal to
                            or a multiple less than the minimum frequency of the harmonics, a multiple of the periods
                            of all harmonics fit, which creates the periodicity of the signal repetition.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l12">
                <div class="row">
                    <div class="icon-block col s12 m6 l6">
                        <h5 class="center">Fourier transform</h5>
                        <p class="light">A Fourier transform (FT) is a mathematical transform that decomposes
                            functions depending on space or time into functions depending on spatial frequency
                            or temporal frequency. An example application would be decomposing the waveform of
                            a musical chord into terms of the intensity of its constituent pitches.
                            The term Fourier transform refers to both the frequency domain representation and
                            the mathematical operation that associates the frequency domain representation to
                            a function of space or time.</p>
                    </div>
                    <div class="icon-block col s12 m6 l6">
                        <h2 class="center light-blue-text"><img src="assets/img/fourier_transform.png" height="300" width="400"></h2>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l12">
                <div class="row">
                    <div class="icon-block col s12 m6 l6">
                        <h2 class="center light-blue-text"><img src="assets/img/correlation.png" height="300" width="400"></h2>
                    </div>
                    <div class="icon-block col s12 m6 l6">
                        <h5 class="center">1-dimensional signal correlation</h5>
                        <p class="light">n general, correlation describes the mutual relationship which exists
                            between two or more things. The same definition holds good even in the case of signals.
                            That is, correlation between signals indicates the measure up to which the given signal
                            resembles another signal.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l12">
                <div class="row">
                    <div class="icon-block col s12 m6 l6">
                        <h5 class="center">Image (2-dimensional signal) correlation</h5>
                        <p class="light">Digital image correlation and tracking is an optical method that employs
                            tracking and image registration techniques for accurate 2D and 3D measurements of
                            changes in images.</p>
                    </div>
                    <div class="icon-block col s12 m6 l6">
                        <h2 class="center light-blue-text"><img src="assets/img/image_correlation.png" height="300" width="400"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>

<div class="row parallax-banner">
    <div id="index-banner-footer" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <div class="row center">
                    <h3 class="header center teal-text">Enjoy studying!</h3>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax" #parallaxFooter><img src="assets/img/parallax.jpg"></div>
    </div>
</div>
